// colors
$one: #f78554;
$two: #f7cf85;
$three:#87b6a7;
$black: #333333;
$white: #fcfcfc;

// fonts
$mainFont: 'Bungee Shade', cursive;
$secondaryFont: 'Bungee', cursive;
$textFont: 'Open Sans', sans-serif;